[project]
	description = This Repo is create for node JS learning purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pavan Palaparthi (PavanPalaparthi)
[access "refs/for/refs/*"]
	read = group user/Pavan Palaparthi (PavanPalaparthi)
	push = group user/Pavan Palaparthi (PavanPalaparthi)
	label-Code-Review = -2..+2 group user/Pavan Palaparthi (PavanPalaparthi)
	label-Verified = -1..+1 group user/Pavan Palaparthi (PavanPalaparthi)
	rebase = group user/Pavan Palaparthi (PavanPalaparthi)
	removeReviewer = group user/Pavan Palaparthi (PavanPalaparthi)
	submit = group user/Pavan Palaparthi (PavanPalaparthi)
[access "refs/heads/*"]
	read = group user/Pavan Palaparthi (PavanPalaparthi)
	create = group user/Pavan Palaparthi (PavanPalaparthi)
	push = +force group user/Pavan Palaparthi (PavanPalaparthi)
	pushMerge = group user/Pavan Palaparthi (PavanPalaparthi)
[access "refs/tags/*"]
	push = group user/Pavan Palaparthi (PavanPalaparthi)
	push = +force group user/Pavan Palaparthi (PavanPalaparthi)
